# Ignore virtual environment
venv/

# Ignore Django migrations
**/migrations/

# Ignore media files
**/media/
media/

# Ignore pycache
**/__pycache__/
__pycache__/

# Ignore static files
**/static/
static/

# Ignore staticfiles directory
**/staticfiles/
staticfiles/
